#board{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#homeTeam, #awayTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
#score {
    flex-grow: 1; /* To center the score between home and away teams */
    text-align: center;
}

#plays {
    display: flex;
    align-items: center;
    text-align: center;
}

#play {
    text-align: left;
    background-color: grey;
}

ul {
    list-style-type: none;
}