<h1>{{teamEventModel?.name}}</h1>
<div id="board">
    <div id="homeTeam">
        <img [src]="getTeamLogo(homeTeam!)" [alt]="getTeamLogoAlt(homeTeam!)" width="150" height="150">
        <h2>{{homeTeam?.teamDetails?.displayName}}</h2>
    </div>
    <h2 id="score">{{homeTeam?.score?.displayValue}}-{{awayTeam?.score?.displayValue}}</h2>
    <div id="awayTeam">
        <img [src]="getTeamLogo(awayTeam!)" [alt]="getTeamLogoAlt(awayTeam!)" width="150" height="150">
        <h2>{{awayTeam?.teamDetails?.displayName}}</h2>
    </div>
</div>
<div id="plays">
    <ul>
        <li id="play" *ngFor="let p of playModels.slice().reverse()">
            <div>
                <h3>{{p.shortAlternativeText}}</h3>
                <p>{{p.text}}</p>
                <p>{{p.start.downDistanceText}}</p>
            </div>
        </li>
    </ul>
</div>

<button (click)="test()">Test</button>